<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <meta name="description" content="乐淘是中国最正品的运动鞋皮鞋专卖">
    <meta name="Keywords" content="乐淘 乐淘鞋城 上乐淘 乐淘官网 篮球鞋 帆布鞋 女鞋">
    <link type="image/x-icon" rel="shortcut icon" href="images/favicon.ico">
    <link rel="stylesheet" href="assets/mui/css/mui.min.css">
    <link rel="stylesheet" href="assets/fa/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/category.css">
    <link rel="stylesheet" href="css/common.css">
    <title>一乐</title>
</head>
<body>
<div class="ct_container">
    <header class="ct_header">
        <a class="left" href="javascript:history.back();"><span class="fa fa-arrow-left"></span></a>
        <h3>一乐云购</h3>
        <a class="right" href="search.html"><span class="fa fa-search"></span></a>
    </header>
    <div class="ct_content">
        <div class="ct_wrapper">
            <div class="mui-scroll-wrapper">
                <div class="mui-scroll">
                    <div class="cate_left">
                        <ul>
                          <!-- todo -->
                        </ul>
                    </div>
                    <div class="cate_right">
                        <ul>
                           <!-- todo -->
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
     <footer class="ct_footer">
        <a class="tab_home fa fa-home " href="index.html"><span>首页</span></a>
        <a class="tab_cate fa fa-bars now" href="category.html"><span>分类</span></a>
        <a class="tab_cart fa fa-shopping-cart" href="user/cart.html"><span>购物车</span></a>
        <a class="tab_user fa fa-user" href="user/index.html"><span>会员中心</span></a>
    </footer>

</div>
<script type="text/arttemplate" id="firstTemplate"> 

    <% for(var i= 0 ; i < rows.length ; i ++ ){ %>
        <li class="<%=i==0? 'now':'' %>">
             <a href="javascript:;" data-id= "<%=rows[i].id %>">
              <%=rows[i].categoryName%>
             </a>
        </li>
    <% }  %>
</script>
<script type="text/arttemplate" id="secondTemplate">
    <% if(rows.length){ %>
    <% for(var i=0 ; i < rows.length ; i ++ ){ %>
        <li>
            <a href="javascript:;">
            <img src="<%=rows[i].brandLogo%>" alt="">
            <p><%=rows[i].brandName%></p>
            </a>
        </li>
     <% }  %>
     <% }else{%>
      <p>当前分类没有商品品牌</p>
     <% }%>
</script>
<script src="assets/mui/js/mui.min.js"></script>
<script src="assets/zepto/zepto.min.js"></script>
<script src="assets/artTemplate/template-native.js"></script>
<script src="js/category.js"></script>
</body>
</html>