<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <meta name="description" content="乐淘是中国最正品的运动鞋皮鞋专卖">
    <meta name="Keywords" content="乐淘 乐淘鞋城 上乐淘 乐淘官网 篮球鞋 帆布鞋 女鞋">
    <link type="image/x-icon" rel="shortcut icon" href="images/favicon.ico">
    <link rel="stylesheet" href="assets/mui/css/mui.min.css">
    <link rel="stylesheet" href="assets/fa/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/search.css">
    <link rel="stylesheet" href="css/common.css">
    <title>一乐-商品列表</title>
</head>
<body>
<div class="ct_container">
    <header class="ct_header">
        <a class="left" href="javascript:history.back();"><span class="fa fa-arrow-left"></span></a>
        <h3>搜索中心</h3>
        <a class="right" href="search.html"><span class="fa fa-search"></span></a>
    </header>

    <div class="ct_content">
      <div class="ct_wrapper">
           <div class="mui-scroll-wrapper">
              <div class="mui-scroll">
                 <!-- 搜索框 -->
                  <div class="ct_search">
                       <form action="">
                       <input type="search" placeholder=  "搜索你喜欢的商品"> 
                       </form>
                      <a href="javascript:;">搜索</a>
                  </div>
                  <!-- 排序 -->
                  <div class="ct_order">
                      <a href="javascript:;" data-order="time">上架时间 <span class="fa fa-angle-down"></span></a>
                      <a href="javascript:;" data-order="price">价格 <span class="fa fa-angle-down"></span></a>
                      <a href="javascript:;" data-order="num">销量 <span class="fa fa-angle-down"></span></a>
                      <a href="javascript:;" data-order="scale">折扣<span class="fa fa-angle-down"></span></a>
                  </div>
                  <!-- 商品 -->
                  <div class="ct_product">
                      <!-- todo -->
                     
                  </div>
                </div>
              </div>
          </div>
      </div>
  </div>
    
   

     <footer class="ct_footer">
        <a class="tab_home fa fa-home " href="index.html"><span>首页</span></a>
        <a class="tab_cate fa fa-bars " href="category.html"><span>分类</span></a>
        <a class="tab_cart fa fa-shopping-cart" href="user/cart.html"><span>购物车</span></a>
        <a class="tab_user fa fa-user" href="user/index.html"><span>会员中心</span></a>
    </footer>

</div>
<!-- 默认使用第一张图片 -->
<script type="text/html" id="list">
   <% for(var i = 0; i< data.length ; i++){ %>
   <% var item = data[i];%>
        <div class="pro_item">
              <div class="pro_item_box">
                 <a href="product.html?productId=<%=item.id%>">
                     <% if(item.pic && item.pic[0]){%>
                     <img src="<%=item.pic[0].picAddr%>" alt=""></a>
                     <% }else{%>
                           <img src="images/none01.jpg" alt="">
                        <% }%>
                 <p class="mui-ellipsis-2"><%=item.proName %></p>
                 <p ><span class="nowPrice">&yen;<%=item.price%></span><span clasoldPrice">&yen;<%=item.oldPrice%></span></p>
                 <button class="button">立即购买</button>
             </div>
       </div>
   <% }%>
</script>
<script src="assets/artTemplate/template-native.js"></script>
<script src="assets/mui/js/mui.min.js"></script>
<script src="assets/zepto/zepto.min.js"></script>
<script src="js/common.js"></script>
<script src='js/searchlist.js'></script>
</body>
</html>